__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/


.venv/
env/
venv/
ENV/


*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/


*/migrations/*
!*/migrations/__init__.py


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


dump.rdb
